header {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  justify-content: space-between;
}
header .logo {
  font-size: 40px;
}
header .logo h1 {
  color: goldenrod;
}
header nav ul {
  display: flex;
  gap: 30px;
}
header nav ul li {
  font-size: 30px;
}
header nav ul li a.active{
    color: gold;
}
header nav ul li {
    transform: scale(1);
    cursor: pointer;
    transition: all 2s ease;
}
header nav ul li:hover {
    border-bottom: 2px solid yellow;
    color: yellow;
    background-color: red;
    padding: 5px 10px;
    border-radius: 10px 5px 3px 30px;
    transform: scale(1.2);
}
/*SOCIAL MEDIA KISMI*/
header .social-media {
    position: absolute;
    top: 20px;
    right: 20px;
}
header .social-media ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  font-size: 50px;
}
