.social-media {
  position: absolute;
}
.social-media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social-media ul li {
  font-size: 50px;
  transition: transform .3s ease;
}
.social-media ul li:hover{
  transform: scale(1.15);
}
@media screen and (max-width: 768px) {
  .social-media {
    position: relative;
  }
  .social-media ul li {
    font-size: 30px;
  }
}